.__nosotros_titulo{
    width: 20%;
    padding-top: 20px;
    
}
.__nosotros_hr{
    background-color: $primary;
    width:100%;
    padding: 2px;
    text-align: center;
}

.__nosotros_parrafo{
    padding-top: 40px;
    font-size: 1.2em;
}

.column-1{
    border-right: 4px solid $primary;
    margin-bottom: 10px;
}