.carousel-item{
    width: 100vw;
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  
  
/*   @media (max-width: 840px) {
    .carousel-item {
      height: 200px;
    }
    
  }
 */


